[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotfiles/powerline"]
	path = dotfiles/powerline
	url = https://github.com/powerline/fonts.git
[submodule "dotfiles/vim/pathogen"]
	path = dotfiles/vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
